<section>
<h1>About Me</h1>
<p>
<ul id="links">
  <li>
  <a href="https://github.com/carlhoerberg" title="GitHub">
    <img src="/images/github_32.png">
  </a>
  </li>
  <li>
  <a href="http://twitter.com/carlhoerberg" title="Twitter">
    <img src="/images/twitter_32.png">
  </a>
  </li>
  <li>
  <a href="http://facebook.com/carl.hoerberg" title="Facebook">
    <img src="/images/facebook_32.png">
  </a>
  </li>
  <li>
  <a href="http://se.linkedin.com/in/carlhoerberg" title="LinkedIn">
    <img src="/images/linkedin_32.png">
  </a>
  </li>
</ul>
</p>
</section>
